/* music container */
#music-container {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  width: 400px;
  height: 500px;
  background-color: rgba(242, 242, 242, 0.7);
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  font-size: 20px;
  padding: 30px;
}

#music-title {
  margin: 10px;
  width: 380px;
  height: 30px;
}

#music-detail-title {
  margin: 0px 10px;
  width: 230px;
  height: 30px;
}

#play-button {
  display: inline-block;
  width: 400px;
  height: 50px;
  margin: 35px 10px 5px 60px;
}

#play-button button {
  background-color: transparent;
  border: none;
  margin-right: 25px;
}

/* button music player */
#btn-prev {
  width: 50px;
  height: 50px;
}

#btn-play {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

#btn-pause {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

#btn-next {
  width: 50px;
  height: 50px;
}

.hidden {
  display: none;
}
/* icon music player */
#previous {
  width: 30px;
  height: 35px;
}

#play {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

#pause {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

#next {
  width: 30px;
  height: 35px;
}

/* button sound */
#volume {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

#mute {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

/* icon sound */
#volume-icon {
  width: 23px;
  height: 23px;
  margin-bottom: 7px;
}

#mute-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 7px;
}

/* playlist */
#playlist-title {
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 14px;
  color: rgba(60, 59, 59, 0.393);
}

#smaller-title {
  font-size: 12px;
}

#line-middle {
  border: 0.01em solid rgba(60, 59, 59, 0.213);
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 30px;
}

#playlist ul {
  list-style: none;
  padding: 10px 10px 20px 10px;
  margin: 0px;
  height: 230px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

#playlist ul::-webkit-scrollbar {
  width: 10px;
}

#playlist ul::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 7px;
}

#playlist ul::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.386);
  border-radius: 30px;
}

#playlist ul:hover {
  overflow-y: visible;
  cursor: pointer;
}

#playlist li {
  margin-bottom: 20px;
}

#playlist li:last-child {
  margin-bottom: 10px;
}

#playlist h4 {
  margin-bottom: 10px;
  margin-top: 3px;
}

#playlist span {
  font-size: 16px;
}
