body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url(/img/whiteMode.jpg) no-repeat center;
  background-size: 100vw 100vh;
  background-attachment: fixed;
  overflow: scroll;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.7px;
}

header {
  width: 100vw;
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
}

/* clock */
#clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 30px;
}

#clock {
  width: 400px;
  height: 100px;
  padding-bottom: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

#date {
  display: inline-block;
  width: 150px;
  height: 25px;
  margin-top: 20px;
  margin-left: 65px;
  font-size: 18px;
}

#clock h1 {
  margin: 40px;
  margin-top: 5px;
  margin-right: 30px;
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
  word-spacing: -5px;
}
