#container {
  width: 400px;
  height: 200px;
  background-color: gray;
  border-radius: 35px;
  margin: 30px 30px;
  font-size: 20px;
  padding: 30px;

  float: left;
}

#music-img {
  width: 120px;
  height: 120px;
  background-color: #fff;
  display: inline-block;
  margin: 5px;
  float: left;
}

#music-title {
  margin: 10px;
  width: 230px;
  height: 30px;
  float: right;
}

#music-detail-title {
  margin: 0px 10px;
  width: 230px;
  height: 30px;
  float: right;
}

#volume-controls {
  width: 300px;
  height: 50px;
  display: inline-block;
}

#volume-icon {
  width: 20px;
  height: 20px;
}
